<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="eBankingV4">

	<listeners>
		<listener class-name="com.ans.Banking.utilities.Reporting" />
	</listeners>

	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.ans.Banking.testCases.LoginTest_001" />
		</classes>
	</test>

</suite>